go 1.18

use (
	./hello-world
	./lasagna
	./weather-forecast
	./cars-assemble
	./annalyns-infiltration
	./welcome-to-tech-palace
	./vehicle-purchase
	./blackjack
	./party-robot
	./card-tricks
	./need-for-speed
	./animal-magic
)
